body {
    background: no-repeat center url("/images/adrien-olichon-X8o-P23flgI-unsplash.jpg");
}

#welcome-section {
    color: white;
    float: center;
}

#welcome-text {
    color: red;
}

#main-menu-section {
    color: white;
    float: left;
    margin-top: 25%;
}

#main-menu-text {
    color: red;
}